In [ ]:
print("hello world!")

In [ ]:
문자=1

In [ ]:
print(문자)

In [ ]:
print("\"")

In [ ]:
print("안녕하세요\b")# \b는 백스페이스

In [ ]:
print("안녕하\n신가")# \n은 줄바꿈

In [ ]:
print("안녕하\t세요")#\t는 탭

In [ ]:
print("안녕하\\세요")# \\ \문자 적어주기

In [ ]:
print("\" \'")#\" 이건 쌍다움표 \'이건 따음표

In [ ]:
print("\\\"(\'.\')\"/")

In [ ]:
print("데이터1","데이터2","데이터3",sep="")

In [ ]:
print("데이터1","데이터2","데이터3",sep="\n",end="끝")

In [ ]:
print("010","2310","3085",sep="-")

010-2310-3085

In [ ]:
이름 = "윤준서"

In [ ]:
print(이름)

In [ ]:
 반 = "6"

In [ ]:
반_데이터타입 = type(반)
print(반_데이터타입)

<class 'str'>

In [ ]:
이름_데이터타입 = type(이름)
print(이름_데이터타입)

<class 'str'>

In [ ]:
소수 = 0.12
소수_데이터타입 = type(소수)
print(소수_데이터타입)

<class 'float'>

In [ ]:
print(0b10)

2

In [ ]:
print(0o10)

8

In [ ]:
print(0x10)

16

In [ ]:
print(10+5) #더하기연산
print(10-5) #뺴기 연산
print(10/2) # 나누기 연산
print(10*2) # 곱하기여낫ㄴ

15
5
5.0
20

In [ ]:
print(3**2) #제곱 연산

9

In [ ]:
print(15%10) #나머지 연산

5

In [ ]:
print(15//10) #몫 연산

1

In [ ]:
문자열 = "문자열내용"
문자열2 = '문자열내용2'
문자열3 = """문자열내용3"""
문자열4 = '''문자열내용4'''
print(문자열)
print(문자열2)
print(문자열3)
print(문자열4)

문자열내용
문자열내용2
문자열내용3
문자열내용4

In [ ]:
print(문자열+문자열2)

문자열내용문자열내용2

In [ ]:
이름= "나"
인사= '하이'
인사말=(인사+""+"나는"+이름+"임"+"\n")

In [ ]:
print(인사말)

하이나는나임

In [ ]:
이름길이 = len(이름)
print(이름)
print(이름길이)

나
1

In [ ]:
print(type(이름길이))

<class 'int'>

In [ ]:
print([1,2,3,4,5]) #[자료,자료,자료]

[1, 2, 3, 4, 5]

In [ ]:
배열 = [-1,1972,19**3,"윤준서",[1,2,3]]
print(배열)

[-1, 1972, 6859, '윤준서', [1, 2, 3]]

In [ ]:
print(배열[0])
print(배열[2])

-1
6859

In [ ]:
print(배열[4][1])

2

In [ ]:
print(배열[len(배열)-1])#맨끝

[1, 2, 3]

In [ ]:
print(배열[-1])#마지막

[1, 2, 3]

In [ ]:
print(배열[1:3])#1번쨰부터 3번째전까지

[1972, 6859]

In [ ]:
배열[-1] = 10 
print(배열)

[-1, 1972, 6859, '윤준서', 10]

In [ ]:
배열[:][-1] = [1,2,3] #복사본
print(배열)

[-1, 1972, 6859, '윤준서', 10]

In [ ]:
answer= "01033334444"
print(len(answer)*"*")
print(answer[-4:])
앞번호 = 문제[:-4]
별 = len(앞번호)*"*"
뒷번호 = 문제[-4:]
정답 = 별 + 뒷번호

***********
4444

In [ ]:
print(len(answer[0:-4])*"*"+answer[-4:])

*******4444