함수

함수란 어떤기능을 제공하는것<br>
우리가 이전시간에 만들었던 계산기를 살펴 보겠습니다

In [ ]:
while True:
  #입력값 받기
  사칙연산 = input("사칙연산 기호(+,-,*,/,**)를 입력하시오")
  첫번째숫자 = int(input("첫번쨰 숫자를 적으세요"))
  두번째숫자 = int(input("두번쨰 숫자를 적으세요"))
  #계산 및 출력
  if 사칙연산 == "+":
    print("더하기입니다")
    print(첫번째숫자 + 두번째숫자)
  elif 사칙연산 == "-":
    print("빼기입니다")
    print(첫번째숫자 - 두번째숫자)
  elif 사칙연산 == "*":
    print("곱하기입니다")
    print(첫번째숫자 * 두번째숫자)
  elif 사칙연산 == "/":
    print("나누기입니다")
    print(첫번째숫자/두번째숫자)
  elif 사칙연산 == "**":
    print("제곱입니다")
    print(첫번째숫자**두번째숫자)
    #종료 여부 확인후 종료
    종료여부 = input("종료하려면 1을 입력하세여")
    if 종료여부 == "1":
      print("종료합니다.")
      break

In [ ]:
#함수만들기, 함수 정의, 함수 선언
def hello():
  print("안녕하세요")

In [ ]:
hello()

안녕하세요

In [ ]:
def helloToName(name):
  print(name,"님 안녕하세요")

In [ ]:
helloToName("윤준서")

윤준서 님 안녕하세요

In [ ]:
def add(num,num2):
  result = num+num2

In [ ]:
add(1,2)
addResult = add(1,2)
print(addResult)

None

In [ ]:
def add2(num,num2):
  result = num+num2
  return result

In [ ]:
add2(1,23)

In [ ]:
addResult2 = add2(1,23)

In [ ]:
print(addResult2)

24

In [ ]:
def add3(num,num2):
  result = num+num2
  return result
  print("hi")
add3(1,2)

3

In [ ]:
def x빼기y(y,x):
  뺄셈결과 = x-y
  print(뺄셈결과)
x빼기y(20,10)
x빼기y(x=20, y=10)

-10
10

In [43]:
def 덧셈뺄셈(x,y):
  덧셈결과 = x+y
  뺄셈결과 = x-y
  return 덧셈결과,뺄셈결과

In [44]:
def 덧셈뺄셈(x,y):
    덧셈결과 = x+y
    뺄셈결과 = x-y
    return 덧셈결과, 뺄셈결과
함수실행결과 = 덧셈뺄셈(20,10)#함수실행결과 = (30,10)
print(함수실행결과)
print(type(함수실행결과))
print(함수실행결과[0],함수실행결과[1])
덧셈결과=함수실행결과[0]
뺄셈결과=함수실행결과[1]
print(덧셈결과)
print(뺄셈결과)

(30, 10)
<class 'tuple'>
30 10
30
10

In [45]:
#튜플을 아래와같이 변수에할당 가능하다
튜플값1, 튜플값2 = (1,2)
print(튜플값1)

1

In [46]:
def 값입력하기():
  사칙연산 = input("사칙연산 기호(+,-,*,/,**)를 입력하시오")
  첫번째숫자 = int(input("첫번쨰 숫자를 적으세요"))
  두번째숫자 = int(input("두번쨰 숫자를 적으세요"))
  return 사칙연산, 첫번째숫자, 두번째숫자

In [51]:
사칙연산,첫번째숫자,두번째숫자 = 값입력하기()

사칙연산 기호(+,-,*,/,**)를 입력하시오**
첫번쨰 숫자를 적으세요1972
두번쨰 숫자를 적으세요191972

In [52]:
print(사칙연산,첫번째숫자,두번째숫자)

** 1972 191972

In [53]:
def 계산및출력(사칙연산, 첫번째숫자, 두번째숫자):
  if 사칙연산 == "+":
    print("더하기입니다")
    print(첫번째숫자 + 두번째숫자)
  elif 사칙연산 == "-":
    print("빼기입니다")
    print(첫번째숫자 - 두번째숫자)
  elif 사칙연산 == "*":
    print("곱하기입니다")
    print(첫번째숫자 * 두번째숫자)
  elif 사칙연산 == "/":
    print("나누기입니다")
    print(첫번째숫자/두번째숫자)
  elif 사칙연산 == "**":
    print("제곱입니다")
    print(첫번째숫자**두번째숫자)

In [55]:
계산및출력(사칙연산="+", 첫번째숫자=10, 두번째숫자=20)

더하기입니다
30

In [60]:
def 종료여부확인():
  종료여부 = input("종료하려면 1을 입력하세요")
  return 종료여부=="1"

In [61]:
종료여부확인()

종료하려면 1을 입력하세요1

True

In [ ]:
while True:
  기호, 첫번째숫자,두번째숫자 = 값입력하기()
  계산및출력(기호,첫번째숫자,두번째숫자)
  종료여부 = 종료여부확인()
  if 종료여부:
    break

In [69]:
def 계산기():
  while True:
   기호, 첫번째숫자,두번째숫자 = 값입력하기()
   계산및출력(기호,첫번째숫자,두번째숫자)
   종료여부 = 종료여부확인()
   if 종료여부:
     break

In [ ]:
계산기()

In [75]:
num=1
print(type(num))

<class 'int'>

In [76]:
string="hello"
print(type(string))

<class 'str'>

In [77]:
class Animal:
  pass

In [78]:
animal = Animal()
print(type(animal))

<class '__main__.Animal'>

In [87]:
class Animal:
  kor = "동물"
  def 숨쉬기():
    print("숨을 쉽니다")
  def 움직이기():
    print("몸을 움직입니다")

In [121]:
개 = Animal()
print(type(개))
Animal.숨쉬기()
Animal.움직이기()
print("===========================")
개.숨쉬기()
개.움직이기()

죽었습니다

TypeError: ignored

In [154]:
class Animal:
  kor = "동물"
  def 숨쉬기(self):
    print("숨을 쉽니다")
  def 움직이기(self):
    print("몸을 움직입니다")
  def 말하기(self, 문장):
    print(문장)
animal = Animal()
animal.숨쉬기()
animal.움직이기()
animal.말하기("안녕하세용")
print(animal.kor)

숨을 쉽니다
몸을 움직입니다
안녕하세용
동물

In [155]:
class Animal:
  kor = "동물"
  def __init__(self):
    print("태어났습니다")
  def 숨쉬기(self):
    print("숨을 쉽니다")
  def 움직이기(self):
    print("몸을 움직입니다")
  def 말하기(self, 문장):
    print(문장)
  def __del__(self):
    print("죽었습니다")
animal = Animal()
print("=============================================================================================================================================================")
del animal

태어났습니다
=============================================================================================================================================================
죽었습니다

In [156]:
class Animal:
  kor = "동물"
  def __init__(self,키,생일):
    self.키 = 키
    self.생일 = 생일
    print("태어났습니다")
  def 키얻기(self):
     print(f"키는 {self.키}cm 입니다")
  def 생일얻기(self):
    print(f"생일은 {self.생일}입니다")
  def 숨쉬기(self):
    print("숨을 쉽니다")
  def 움직이기(self):
    print("몸을 움직입니다")
  def 말하기(self, 문장):
    print(문장)
  def __del__(self):
    print("죽었습니다")

In [157]:
animal = Animal(키=30, 생일=20220727)
print(animal.키)
animal.키얻기()

태어났습니다
30
키는 30cm 입니다

In [158]:
print(type(animal.말하기))

<class 'method'>

In [159]:
class 개(Animal):
   def 짖기(self):
    print("멍")

In [160]:
요크셔 = 개(키=30, 생일="오늘")
요크셔.짖기()

태어났습니다
멍

In [161]:
요크셔.키얻기()

키는 30cm 입니다

In [162]:
del 요크셔

죽었습니다